// *------------------------------- SECTION: "ENTREVISTAS" --------------------------*/

.gallery{
  display: flexbox;
  flex-direction: column;
}
.img1{
  float: left;
  height: 243px;
  width: 100%;
}
