$color-light: #FFFFFF;
$color-highlight-primary: #0000EC;
$color-dark: #060A24;
$color-transparent: transparentize($color-dark, 0.56);
$color-highlight-secondary: #00f3bb;
$font-primary: 'IBM Plex Sans', 'sans-serif';
$font-secondary: 'IBM Plex Mono', 'monospace';